:root {
  --red: #ff5a5a;
  --green: #76ffca;
  --blue: #76daff;
  --yellow: #fffa76;
  --purple: #ab76ff;
}

/* CSS RESET */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Fonts */

@font-face {
  font-family: "Poppins-Med";
  src: url("./fonts/Poppins-Medium.ttf");
}

@font-face {
  font-family: "Poppins-Reg";
  src: url("./fonts/Poppins-Regular.ttf");
}

/* Body */

body {
  font-family: "Poppins-Reg";
  line-height: 1.4;
}

/* Utilities */

/* Bullet Points */

.white:before {
  content: " ";
  height: 12px;
  width: 12px;
  margin-right: 1rem;
  border-radius: 4px;
  background-color: #fff;
}

/* Container */
.container {
  display: flex;
}

/* Sidebar */
.sidebar {
  width: 30vw;
  background-color: var(--red);
  min-height: 100vh;
  color: #fff;
}

.title {
  font-size: 45px;
  font-family: "Poppins-Med";
  text-align: center;
  padding-top: 2rem;
}

.nav-btns::after,
.nav-btns:before {
  content: " ";
  display: block;
  border-bottom: 3px solid #fff;
  width: 100%;
  margin: 1.5rem auto;
}

.nav-btns {
  width: 90%;
  margin: auto;
}

.home-btn,
.create-project-btn {
  display: flex;
  align-items: center;
  margin-top: 1.5rem;
}

.home-btn h3,
.create-project-btn h3 {
  margin-left: 1rem;
  font-family: "Poppins-Med";
  font-size: 25px;
}

.home-btn svg,
.create-project-btn svg {
  cursor: pointer;
}

/* Home */

.home {
  width: 70vw;
  display: flex;
  flex-direction: column;
}

.home-title {
  font-size: 80px;
  font-family: "Poppins-Med";
  color: var(--red);
  text-align: center;
  margin-top: 1rem;
}

.home-title:after {
  content: " ";
  display: block;
  border-bottom: 5px solid var(--red);
  width: 342px;
  margin: 0 auto 1.5rem auto;
}

/* Selected Project */

.selected-project {
  width: 70vw;
  display: flex;
  flex-direction: column;
  padding: 2rem 3rem;
}

.selected-project-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.selected-project-title {
  color: var(--red);
  font-size: 60px;
  font-family: "Poppins-Med";
}

.selected-project h3 {
  font-size: 30px;
  font-family: "Poppins-Med";
  margin-top: 1rem;
}

.selected-project-heading:after,
.tools:before {
  content: " ";
  display: block;
  border-bottom: 1px solid #000;
  padding: 0.5rem 0;
}

.overview {
  color: #4e4e4e;
  font-size: 25px;
  font-family: "Poppins-Reg";
  padding: 0.5rem 0;
  outline: none;
  border: none;
  resize: none;
}

.tools-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #000;
  padding-bottom: 1rem;
}

.tools-input {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-tools {
  width: 346px;
  height: 29px;
  background-color: #f8f8f8;
  border: 1px solid #959595;
  border-radius: 15px;
  margin-right: 1rem;
  font-size: 15px;
  outline: none;
  padding: 0 1rem;
}

.add-tool-btn {
  cursor: pointer;
}

.tools-body {
  text-transform: uppercase;
  border-bottom: 1px solid #000;
}

.tools-body h3 {
  font-family: "Poppins-Reg";
  padding-bottom: 1rem;
  color: #4e4e4e;
  font-size: 25px;
}

.tasks-title {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #000;
  padding-bottom: 1rem;
}

.bullet-point {
  border-radius: 50%;
  width: 41px;
  height: 41px;
  border: 3px solid #000;
  cursor: pointer;
  margin-right: 1rem;
}

.complete {
  background: var(--blue);
}

.not-complete {
  background: #fff;
}

.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-name {
  width: 100%;
  display: flex;
  align-items: center;
}

.task-name h3 {
  font-size: 25px;
  font-family: "Poppins-Reg";
  margin-bottom: 1rem;
}

.tasks {
  margin: 1rem 0;
}

.delete-task-btn {
  cursor: pointer;
  border-radius: 50%;
  width: 33px;
  height: 33px;
  border: 2px solid #000;
  cursor: pointer;
  background-color: var(--red);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-tasks {
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  padding: 1rem 0;
  display: flex;
  align-items: center;
}

.add-tasks input {
  background: transparent;
  font-family: "Poppins-Med";
  border: none;
  font-size: 30px;
  outline: none;
  color: #000;
  margin-left: 1rem;
}

.add-tasks input::placeholder {
  color: #000;
  opacity: 0.7;
}

.add-tasks-btn {
  cursor: pointer;
  outline: none;
}

.date {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #000;
}

.date h3 {
  margin-bottom: 1rem;
  margin-right: 1rem;
}

.date input {
  width: 200px;
  height: 46px;
  border-radius: 14px;
  border: 1px solid #707070;
  padding: 0 1rem;
  font-size: 16px;
}

/* Project Sidebar List */

.project-side {
  width: 85%;
  margin: 2rem auto;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.project-side h3 {
  font-size: 25px;
}

/* Progress Bar */
.progressbar {
  width: 90%;
  background-color: #fff;
  border: 2px solid #2f2f2f;
  border-radius: 17px;
  margin: 0 auto 2rem auto;
}

.progressbar > div {
  background-color: var(--green);
  height: 33px;
  border-radius: 17px;
}

.progressbar > div h3 {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  line-height: 1.8;
  margin-right: 1rem;
}

/* Project List */

.project-title {
  width: 90%;
  margin: 1.2rem auto;
  display: flex;
  justify-content: space-between;
}

.project-title h3 {
  font-size: 25px;
  font-family: "Poppins-Med";
}

.project-title h4 {
  font-size: 20px;
  font-family: "Poppins-Reg";
  color: #505050;
}

/* Create Project Popup */

.hide {
  display: none !important;
}

.create-project-popup {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  background-color: rgba(99, 99, 99, 0.6);
}

.create-project-popup-content {
  background-color: var(--red);
  padding: 20px;
  border: 3px solid #343434;
  min-width: 526px;
  min-height: 617px;
  color: #fff;
  -webkit-box-shadow: 10px 10px 6px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 6px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 6px 0px rgba(0, 0, 0, 0.75);
}

.create-project-popup-content h1 {
  text-align: center;
}

.create-project-popup-content h1:after {
  content: " ";
  display: block;
  border-bottom: 3px solid #fff;
  width: 250px;
  margin: 0 auto 1.5rem auto;
}

.form-input {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-input label {
  font-size: 25px;
  font-family: "Poppins-Med";
}

.form-input input {
  height: 46px;
  background-color: transparent;
  border: 2px solid #fff;
  outline: none;
  color: #fff;
  font-size: 21px;
  padding: 0 0.5rem;
  width: 100%;
  margin-bottom: 2rem;
}

.form-input textarea {
  height: 202px;
  background-color: transparent;
  border: 2px solid #fff;
  outline: none;
  color: #fff;
  font-size: 21px;
  padding: 0.5rem 0.5rem;
  width: 100%;
  margin-bottom: 2rem;
  font-family: "Poppins-Reg";
}

.create-btn {
  background-color: var(--green);
  width: 155px;
  height: 48px;
  border-radius: 24px;
  border: none;
  font-size: 22px;
  margin: 2rem auto 0 auto;
  cursor: pointer;
  outline: none;
}

.delete-btn {
  background-color: var(--red);
  width: 155px;
  height: 48px;
  border-radius: 24px;
  border: none;
  font-size: 22px;
  cursor: pointer;
  outline: none;
  color: #fff;
}

/* Media Queries */
@media (max-width: 1200px) {
  /* Progress Bar */
  .progressbar > div {
    padding-right: 0.3rem;
  }

  .progressbar > div h3 {
    line-height: 2.3;
    font-size: 15px;
    width: 100%;
  }
}

@media (max-width: 812px) {
  .home-title {
    font-size: 60px;
  }

  .selected-project-title {
    font-size: 50px;
  }

  .bullet-point {
    border-radius: 50%;
    width: 4vw;
    height: 4vw;
    border: 3px solid #000;
    cursor: pointer;
    margin-right: 1rem;
  }

  .task-name h3 {
    font-size: 17px;
  }

  .add-tools {
    width: 200px;
  }

  .add-tool-btn {
    cursor: pointer;
  }
}

@media (max-width: 569px) {
  .home-title {
    font-size: 50px;
  }

  .title {
    font-size: 30px;
  }

  .selected-project-title {
    font-size: 30px;
  }

  .project-side h3 {
    font-size: 15px;
  }

  .white:before {
    height: 8px;
    width: 8px;
  }

  .bullet-point {
    width: 3vw;
    height: 3vw;
  }

  .task-name h3 {
    font-size: 12px;
  }

  .add-tools {
    width: 150px;
  }

  .add-tool-btn {
    cursor: pointer;
  }

  .delete-btn {
    width: 100px;
    height: 35px;
    font-size: 15px;
  }

  .progressbar > div {
    height: 24px;
  }

  .progressbar > div h3 {
    line-height: 2.4;
    font-size: 10px;
    width: 100%;
  }
}

@media (max-width: 375px) {
  .home-title {
    display: none;
  }

  .title {
    font-size: 20px;
  }

  .nav-btns {
    transform: scale(0.6);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  .nav-btns::after,
  .nav-btns:before {
    display: none;
    margin: 0 auto;
  }

  .nav-btns h3 {
    display: none;
  }

  .create-project-popup {
    transform: scale(0.6);
  }

  .create-project-popup-content {
    -webkit-box-shadow: none;
    -moz-box-shadow: nonel
    box-shadow: 10px 10px 6px 0px rgba(0, 0, 0, 0.75);
  }

  .selected-project-title {
    font-size: 30px;
  }

  .project-side h3 {
    font-size: 15px;
  }

  .white:before {
    height: 8px;
    width: 8px;
  }

  .bullet-point {
    width: 3vw;
    height: 3vw;
  }

  .task-name h3 {
    font-size: 12px;
  }

  .add-tools {
    width: 150px;
  }

  .add-tool-btn {
    cursor: pointer;
  }

  .delete-btn {
    width: 100px;
    height: 35px;
    font-size: 15px;
  }

  .progressbar > div {
    height: 24px;
  }

  .progressbar > div h3 {
    line-height: 2.4;
    font-size: 10px;
    width: 100%;
  }
}
